include ../little-squares.jade
	table
		thead
			tr
				td= 'value'
				td= 'starts on'
				td= 'ends on'
				td= 'example'
		tbody
			tr
				td= 'none'
				td= '0%'
				td= '0%'
				td
					.elem
			tr
				td= 'backwards'
				td= '0%'
				td= '100%'
				td
					.elem
			tr
				td= 'forwards'
				td= '100%'
				td= '0%'
				td
					.elem
			tr
				td= 'both'
				td= '100%'
				td= '100%'
				td
					.elem